$font-path:  "../fonts" !default;
$material-icons-font-path:  "../fonts" !default;
$primary-font-size: 14px;
$body-bg-color: #eeeeee;
$primary-color: #8BC34A;
$primary-color-400: #9CCC65;
$primary-color-900:#33691E;
$primary-color-700:#689F38;
$secondary-color: #FF5722;
$secondary-color-400: #FF7043;
$secondary-color-600: #F4511E;
$secondary-color-700: #E64A19;
// Cards
$card-bg-color: #fff;
// BUttons
$button-color: #fff;