.alert {
  display: inline-block;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  position: fixed;
  bottom: 40px;
  right: 20px;
  font-size: 18px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .08);
  color: #444;
  z-index: 999999;
  animation: flash-message 20s forwards;

  ul {
    margin: 0;
  }
}

@keyframes flash-message {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.alert-success {
  background-color: #4CAF50;
  color: #FFFFFF;
}

.alert-error {
  background-color: #F44336;
  color: #FFFFFF;
  * {
    color: #FFFFFF;
  }
  bottom: 200px;
}

.alert-error {
  color: red;
}