@import "variables";
@import "fonts";
@import "material-icons";
@import "mat-list";

@import "globals";
@import "button";
@import "card";
@import "nav";

@import "alert";
@import "general";
@import "media";
@import "admin";

.row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  .col {
    flex: 1;
  }
}

.landing {
  .hero {
    background-color: #fff;
    position: relative;
    padding: 72px 64px 40px 96px;
    font-family: "Roboto", sans-serif;

    .hero-title {
      color: #36474F;
      font-size: 50px;
      font-weight: lighter;
      line-height: 56px;
      max-width: 600px;
      text-transform: none;
      margin:0;
      padding-bottom: 24px;
    }

    .hero-subtitle {
      color: #4A5960;
      font-size: 18px;
      margin: 0 0 24px 0;
      font-weight: 400;
      line-height: 28px;
    }
  }
}

.image-wrap {
  img {
    max-width: 100%;
  }
}

#premium_landing {
  .hero {
    padding:76px 0 0 0;

    .col {
      &:first-child {
        padding-left: 96px;
      }

      &:nth-child(2) {
        .material-icons {
          font-size: 20rem;
          color: $primary-color;
          text-align: right;
        }
      }
    }
  }
}