// Buttons
.button {
  display: inline-block;
  cursor: pointer;
  padding: 0 20px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  color: $button-color !important;
  font-weight: 500;
  background-color: $primary-color !important;
  border-radius: 4px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .05);
  border: none;
  outline: none;
  text-decoration: none !important;
  font-family: 'Roboto', sans-serif;
  transition:all .15s ease-out;

  .button-text {
    vertical-align: top;
  }

  .material-icons {
    font-size:16px;
    margin-top:8px;
  }

  &:active {
    transform: scale(.9);
  }

  &:hover {
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.27);
    background-color: $primary-color-400 !important;

  }

  &.button-white {
    background-color: #fff !important;
    color: #444 !important;
  }

  &.button-blue {
    background-color: #1E88E5 !important;
    color: #fff !important;
  }

  &.button-green {
    background-color: #4CAF50 !important;
    color: #fff !important;
  }

  &.button--secondary {
    background-color: $secondary-color !important;
  }

  &.button--secondary:hover {
    background-color: $secondary-color-400 !important;
  }

  &.button--big {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;

    .material-icons {
      font-size: 24px;
      margin-top: 12px;
    }
  }

  &.button--premium {
    background-color: $secondary-color !important;
    color: #fff;
    transition:all .15s ease-out;

    &:hover {
      background-color:$secondary-color-700 !important;
    }
  }
}