// Cards
.card {
  display: inline-block;
  background-color: $card-bg-color;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  color: #444444;

  a {
    color: #444;
    text-decoration: none;
  }

  iframe {
    max-width: 100%;
  }

  .text-content {

    a {
      color: #2196F3;
    }

  }

  .card-head {
    font-weight: 700;
  }

  .card-meta {
    padding: 8px 20px;
  }

  h1, h2, h3 {
    margin: 0;
    padding: 0;

    a {
      color: #2196F3;
    }
  }

  h1 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  img {
    max-width: 100%;
  }

}

.card-small {
  width: 150px;
  font-size: 13px;
}

.card-medium {
  width: 300px;

  .card-head {
    font-size: 1.5rem;
  }
}

.card-larg {
  width: 600px;
}

.card--game {
  a {
    .card-img {
      padding:10px;
    }
  }

  .card-head {
    font-weight: 300;
  }
}

.games-index-list {
  .card {
    .card-head {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
    }
  }

}

.card--overlay {
  a {
    display: block;
    .card-img {
      position:relative;
      img {
        border-radius:3px;
      }
      &:before {
        content: "";
        display:block;
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all .25s ease;
        transition: all .25s ease;
        border-radius: 3px;
        background-color:rgba(0,0,0,.4);
      }
    }
  }
  &:hover .card-img:before {
    opacity:1;
  }
}