@font-face {
  font-family: 'BurbankBigCondensed-Black';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-path}/BurbankBigCondensed-Black.ttf')  format('truetype');
  font-stretch:normal;
}