// Margins
.margin-20-h {
  margin-left: 20px;
  margin-right: 20px;
}

.margin-40-v {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.margin-40-top {
  margin-top: 40px !important;
}

.margin-20-top {
  margin-top: 20px !important;
}

.margin-40-bottom {
  margin-bottom: 40px !important;
}

.margin-20-bottom {
  margin-bottom: 20px !important;
}

.margin-20-v {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.margin-10 {
  margin: 10px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: $primary-font-size;
  background-color: $body-bg-color;
}

* {
  box-sizing: border-box;
}

.jetgames {
  font-family: 'BurbankBigCondensed-Black', sans-serif;
  h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
  }
}

#app {
  min-height: calc(100% - 50px);
  display: flex;
  align-content: space-between;
  flex-direction: column;
}

//Text Content
.text-content {
  color: #212121;
  color: rgba(0, 0, 0, .87);
  font-size: 17px;
  line-height: 1.8;
  font-family: Roboto, sans-serif;

  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  h1 {
    font-size: 2.6rem;
  }

  h2 {
    font-size: 1.9rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  img {
    max-width: 100%;
  }
}

.form-field {
  margin: 20px 0;

  label {
    display: block;
    margin: 10px 0;
    font-size: 16px;
  }

  input[type=text],
  input[type=email],
  input[type=password] {
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
  }

  textarea {
    box-sizing: border-box;
    height: 150px;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
  }
}

h1.game-title {
  margin-bottom: 40px;
}

.game-content {
  display: flex;
  justify-content: center;
}

.tag-index {
  width: 235px;
  a {
    padding: 5px 10px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  img {
    vertical-align: middle;
  }

  .tag-name {
    display: inline-block;
    padding: 0 25px 0 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
  }
  .tag-count {
    color: #999;
  }
}

.single-game {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .main-content {
    width: 70%;
  }
  .sidebar {
    width: 29%;

    .card {
      padding: 20px 10px;
      width:100%;
    }

    .tag-list {
      font-size: 15px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      a.tag {
        margin: 20px 0 0 0;
        width: 130px;
        font-size: 14px;
        img {
          width: 28px;
        }
      }
    }

    .game-list {

      a.game {
        display: flex;
        align-items: center;
        font-size: 18px;

        img {
          vertical-align: middle;
        }

        b {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

a.tag {
  display: inline-block;
  border-radius: 3px;
  margin: 0;
  padding: 2px;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, .05);
  color: #444;
  text-decoration: none;
  b {
    display: inline-block;
    padding: 0 10px;
  }
}

img {
  vertical-align: middle;
}

#intro {
  position: relative;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 480px;
  margin: 0 auto -32px;
  padding: 48px 0 0;
  justify-content: center;
  font-family: 'BurbankBigCondensed-Black', sans-serif;
  text-transform: uppercase;

  .home-container {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    margin-top: -7%;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
  }

  .intro-logo {
    i {
      font-size: 25rem;
      color: $secondary-color;
    }

  }

  .intro-headline {
    font-size: 4em;
    line-height: 64px;
    font-weight: 500;
    margin: 32px 0;
  }

  .intro-link {
    display: inline-block;
    height: 56px;
    padding: 0 2em;
    font-size: 1.75em;
    font-weight: 600;
    line-height: 56px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    box-sizing: border-box;
    cursor: pointer;
    color: $primary-color;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border: none;
    transition: all .15s linear;

    &:not(.premium){
      margin-right: 20px;
    }

    &:hover {
      color: #6e6e6e;
      opacity: .9;
    }

    &.premium {
      background-color:$secondary-color;
      color:#fff;

      &:hover {
        background-color: $secondary-color-400;
        opacity: 1;
      }
    }
  }
}

#register-wrap,
#login-wrap {
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  label {
    text-align: left;
  }
}

.cluster {
  font-family: 'Roboto', sans-serif;
  .cluster-heading {
    box-sizing: border-box;
    cursor: default;
    font-size: 28px;
    font-weight: 100;
    margin: 0;
    min-height: 37px;
    padding: 5px;
    position: relative;

    h2 {
      margin: 0;
    }

    a:not(.button) {
      color: #333;
      text-decoration: none;
      font-weight: 300;
    }

    .see-more {
      position: absolute;
      right: 5px;
      margin-top: 5px;
      bottom: 14px;
    }
  }

  .card-list {
    overflow: hidden;
    height: 167px;

    .card {

      &.card--game {
        margin: 5px 5px 5px 0;
      }
    }
  }
}