//Globals
.container {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.full-width {
  width: 100%;
}

.no-padding {
  padding: 0 !important;
}

.flex {
  display: flex;
}

.flex-grid {
  flex-flow: row wrap;
  align-items: flex-start;
}

.flex-wrap {
  flex-flow: row wrap;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.color-primary {
  color: $primary-color;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

// Colors
.-primary {
  color:$primary-color;
  a {
    color:$primary-color-900;
    text-decoration: none;
  }
}

.-white {
  color: #fff;
}

.-orange {
  color: #FF9800;
}

.-blue {
  color: #2196F3;
}

.-indigo {
  color: #3F51B5;
}

.-teal {
  color: #009688;
}

.-purple {
  color: #9C27B0;
}

.-deep-purple {
  color: #673AB7;
}

.-bg-deep-orange {
  background-color: #FF5722;
}

.-bg-deep-purple {
  background-color: #673AB7;
}