.mat-list {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-decoration: inherit;
  text-transform: inherit;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  list-style-type: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;

  a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
  }

  .mat-list-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 72px;
    width: 100%;


    .mat-list-item-link {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 72px;
      width: 100%;
      padding:0 16px;

      &:hover {
        background-color:rgba(0, 0, 0, 0.06);
      }
    }

    .mat-list-item-start {
      position: relative;
      width: 40px;
      height: 40px;
      margin-left: 0;
      margin-right: 16px;
      border-radius: 50%;
      overflow: hidden;

      img {
        position: absolute;
        top:50%;
        left:50%;
        transform: translateX(-50%) translateY(-50%);
        height:40px;
      }
    }

    .mat-list-item-text {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      .published {
        color:#4CAF50;
      }
      .draft {
        color:#FF9800;
      }

      .mat-list-item-text-secondary {
        font-family: Roboto, sans-serif;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: block;
        font-size: 0.875rem;
        font-weight: 400;
        letter-spacing: 0.04em;
        line-height: 1.25rem;
        text-decoration: inherit;
        text-transform: inherit;
        color: rgba(0, 0, 0, 0.54);

        a {
          color: rgba(0, 0, 0, 0.54);
        }
      }

    }
  }
}