@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('#{$material-icons-font-path}/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
  local('/fonts/MaterialIcons-Regular'),
  url('#{$material-icons-font-path}/MaterialIcons-Regular.woff2') format('woff2'),
  url('#{$material-icons-font-path}/MaterialIcons-Regular.woff') format('woff'),
  url('#{$material-icons-font-path}/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-rendering: optimizeLegibility;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}