@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  #header {
    #nav {
      height: auto;
      display: flex;
      flex-flow: row wrap;

      .nav-left {
        float: initial;
      }
    }
  }

  .games-index-list {
    justify-content: center;
  }

  .card .card-head {
    font-size: 1.2rem;
  }

  .single-game {
    padding: 0;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;

    .main-content {
      width: 100%;
      padding: 10px;

    }

    .sidebar {
      min-width: 280px;
      h2 {
        font-size: 1.4rem;
      }
      .tag-list {
        a.tag {
          font-size: 1.1rem;
        }
      }
    }

    .sidebar > .card {
      margin-top: 40px;
    }
  }


}

@media screen and (max-width: 700px) {
  .articles-index-list {
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  #header {
    #nav {
      flex-direction: column;
      padding: 0;

      .brand {
        margin: 0;
      }

      .nav-burger {
        display: block;
      }
      .nav-left.burger-open,
      .nav-right.burger-open {
        display: flex;
      }

      .nav-left,
      .nav-right {
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;

        li {
          display: block;
          width: 100%;

          a.active {
            border: none;
            background: rgba(214, 0, 0, .7);
            color: #fff;
          }
        }
      }

      .nav-items {
        .hassubmenu {
          .submenu {
            display: block;
            position: initial;
            background: transparent;
            box-shadow: none;


            li {
              a {
                color: #fff;
                padding-left: 30px;
              }
              &:last-child a {
                background: transparent;
              }
            }
          }
        }
      }


    }

    .header-row {
      flex-direction: column;
      justify-content: center;
    }
  }
}