#header {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);

  .header-row {
    padding: 5px 0;
  }

  ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .nav-items {
    display: block;
  }
  .nav-left {
    float: left;
  }
  .nav-right {
    float: right;
  }

  .nav-items > li {
    display: inline-block;
  }

  #nav {
    display: table;
    width:100%;
    min-height:50px;
    padding: 0 20px;
    background-color: $primary-color-700;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    color: #737373;

    &.admin {
      background-color: #777;
    }

    .brand {
      display: block;
      float: left;
      margin-right: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 2rem;
      color: #fff;
      text-decoration: none;
    }

    .nav-burger {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      height: 50px;
      width: 60px;
      transition: all .15s linear;

      span,
      &:before,
      &:after {
        content: '';
        display: block;
        right: 10px;
        position: absolute;
        height: 4px;
        width: 40px;
        border-radius: 10px;
        background-color: #fff;
      }

      span {
        top: 23px;
      }

      &:before {
        top: 15px;
      }

      &:after {
        bottom: 15px;
      }

      &:active {
        transform: scale(0.7);
      }

    }

    .nav-items {
      font-size: 0;
      li {
        a,
        .submenu-label {
          font-size: 1rem;
          display: block;
          height: 50px;
          padding: 0 15px;
          line-height: 50px;
          color: #fff;
          font-weight: 600;
          text-decoration: none;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          cursor: pointer;

          .material-icons {
            vertical-align: middle;
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.08);
          }

          &.active {
            border-bottom: 3px solid #fff;
            padding-bottom: 3px;
          }
        }
      }


      .nav-login,
      .nav-profile,
      .nav-register {
        a {
          color: #fff;
        }
      }

      .nav-register {
        a {
          background-color: $secondary-color;
        }
      }

      .hassubmenu {
        position: relative;

        .submenu {
          display: none;
          max-height: 60vh;
          top: calc(100% - 5px);
          position: absolute;
          background: #fff;
          box-shadow: 0 2px 40px rgba(0, 0, 0, 0.4);
          z-index: 9;

          a {
            height: 36px;
            line-height: 36px;
            font-size: .85rem;
            color: #737373;



          }

          li:last-child {
            a {
              background-color: $primary-color;
              color: #fff;

              &:hover {
                background-color: $primary-color-700;
            }
            }
          }

        }

        &:hover .submenu {
          display: block;
        }
      }

    }
  }
}

.home-body-landing {
  #header {
    box-shadow: none;
    #nav {
      position: relative;
      background-color: transparent;
      box-shadow: none;

      .nav-items {
        a.active {
          border-bottom: 3px solid #fff;
        }

        .nav-register,
        .nav-login,
        .nav-profile {
          a {
            background-color: transparent;
          }
        }
      }
    }
  }
}

.home-landing.background-landing {
  background-color: $primary-color;
  background: linear-gradient(145deg, $primary-color-700, $primary-color);
  color: #fff;
}

.home-landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 480px;
  height: 80vh;
  max-height: 560px;
  box-sizing: border-box;
  padding: 48px 48px 32px 48px;
  overflow: hidden;
  transform: skewY(8deg);
  transform-origin: 100%;
}

@media (max-width: 800px) {
  .home-landing {
    transform: none;
    height:auto;
  }

}